<!-- templates/index.html -->
<!-- <!DOCTYPE html> -->
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>PC Logger</title>


</head>
<body
    style="background-image: url('https://img.freepik.com/free-vector/gradient-abstract-geometric-background_23-2149120339.jpg?w=996&t=st=1683141905~exp=1683142505~hmac=86034dbde5fa08fa133fc876f483b83f7a00c01f52d97286cb106a8f09bdef37'); background-repeat: no-repeat; background-size: cover ;">
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 50px; padding-right: 50px;">
        <a href="#" class="navbar-brand" style="font-size:20px; color: black;">PC Logger</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a href="" class="nav-link" style="font-size:20px; color: black;">Home</a>
                <a href="/Multi-PC-Logger/pc_logger/pclogger/templates/about_project.html" class="nav-link"
                    style="font-size:20px; color: black;">About</a>
            </div>
        </div>
    </nav>

    <!-- PC search form -->
    <div class="card border-success d-flex justify-content-center text-white text-center p-5 mx-auto shadow p-3 bg-white "
        style="width: fit-content; margin: 100px;">
        <form class="form-inline" action="{% url 'search_pc' %}" method="get">
            <label for="ip_address" style="font-size: 20px; margin-right: 20px; color: black;">Search for PC by IP
                address : </label>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="ip_address"
                name="ip_address" value="{{ ip_address }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>


    <!-- Alert section -->
    {% if alerts %}
    <div class="card d-flex justify-content-center text-white bg-danger text-center p-5 mx-auto shadow p-3  "
        style="width: fit-content; margin: 100px;">
        <h2>Alerts</h2>
        <ul>
            {% for ip_address, alert in alerts.items %}
            <li>{{ ip_address }} {{ alert }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!-- PC search result section #66ff66 -->
    {% if pcs %}
    <div class="card d-flex justify-content-center text-white text-center p-5 mx-auto shadow p-3 mb-5 rounded"
        style="width: fit-content; margin-bottom: 50px; background-color: #3333cc; color: white;">
        <table class="table table-bordered text-light">
            <thead>
                <tr>
                    <th>OS</th>
                    <th>Version</th>
                    <th>RAM</th>
                    <th>HDD</th>
                    <th>IP Address</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for pc in pcs %}
                <tr>
                    <td>{{ pc.os }}</td>
                    <td>{{ pc.version }}</td>
                    <td>{{ pc.ram }}</td>
                    <td>{{ pc.hdd }}</td>
                    <td>{{ pc.ip_address }}</td>
                    <td>{{ pc.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    {% if ip_address %}
    <div class="card d-flex justify-content-center text-white text-center p-5 mx-auto shadow p-3 "
        style="width: fit-content; margin: 100px; background-color:  #ff9900;">
        <p>No PC found for IP address {{ ip_address }}.</p>
        {% endif %}
        {% endif %}
    </div>


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>